<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Inventory System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>

        var app = angular.module("myApp",[])
        app.controller("control",function($scope){
            $scope.item = []
            
            $scope.add = function(){
                let prod = {name:$scope.pro,price:$scope.proprice};
                $scope.item.push(prod);
               
            }
            $scope.remove = function($index){
                $scope.item.splice($index,2)
            }
        });
    </script>

</head>
<body ng-app="myApp" ng-controller="control">
    <div class="heading">
        <h1>Product inventory System</h1>
    </div>
    <div class="form">

        <form style="margin-bottom: 2%;">
            <label>Enter Product Name</label><br><br>
            <input type="text" ng-model="pro"><br><br>
            <label>Enter Product Price</label><br>
            <input type="text" ng-model="proprice"><br>
            <button style="margin-top:2%;" ng-click="add()">Add Item</button>
        </form>

        <hr>

        <table style="margin: 0 auto;" width="50%" border="black">

            <tr style="background-color: rgb(115, 127, 255); color:rgb(213, 224, 255); padding: 2% 2% 2% 2%;">
                <th>Name</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>

            <tr ng-repeat="x in item">
                <td>{{x.name}}</td>
                <td>Rs.{{x.price}}</td>
                <td style="align-items: center ;"><button ng-click="remove($index)" style="background-color: rgb(206, 202, 255);color:white;">DELETE</button></td>
            </tr>

        </table>
    </div>
</body>
</html>